html, body {
    height: 100%;
    width: 100vw;
    background-color: #E4D00A;
}

footer {
    position: absolute;
    bottom: 0; 
    width: 100%;
    height: 2rem;
}

footer h3 {
    font-size: 14px;
    font-weight: 100;
}